@model SpaceShop.ViewModels.HomeViewModel

@{
    
    ViewData["Title"] = "Home Page";
}

<div class="container">
    @foreach (var prod in Model.products)
    {
        <partial name="ProductCard" model="prod" />
    }
</div>
